<p>Search state substrings:</p>

<%= form_tag do %>
	<%= label_tag :substring %>
	<%= text_field_tag :substring, '', :id => "substring" %>
	<%= submit_tag "Get HTML response", :id => "html_submit" %>
	<%= submit_tag "Get JSON response", :id => "json_submit" %>
<% end %>

<div id="result">No result yet.</div>

<%= javascript_tag :type => "text/javascript" do %>
	/*
	NOTE: Avoid just directly copying this code. 
	Your AJAX implementation for Project 8 should be packaged into a re-usable class.
	What follows are simply hard-coded examples that shouldn't be used as is.
	*/


	// When the HTML response button is clicked
	document.getElementById("html_submit").onclick = function() {
		var substring = document.getElementById("substring").value;

		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (this.readyState == 4) {
				if (this.status == 200) {
					document.getElementById("result").innerHTML = this.responseText;
				}
				else {
					// Handle error
				}
			}
		}
		xhr.open("GET", "/state/filter_html?substring=" + substring);
		xhr.send();

		// Return false to prevent the form from actually submitting and reloading the page
		return false;
	}

	// When the JSON response button is clicked
	document.getElementById("json_submit").onclick = function() {
		var substring = document.getElementById("substring").value;

		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if (this.readyState == 4) {
				if (this.status == 200) {
					var state_json = JSON.parse(this.responseText);
					var state_html = "JSON response: <p>The states you chose are:</p>"
					for (var i = 0; i < state_json.length; i++) {
						state_html += "<div>" + state_json[i] + "</div>"
					}

					document.getElementById("result").innerHTML = state_html;
				}
				else {
					// Handle error
				}
			}
		}
		xhr.open("GET", "/state/filter_json?substring=" + substring);
		xhr.send();

		// Return false to prevent the form from actually submitting and reloading the page
		return false;
	}
<% end %>