<!-- Displays form for users to change their password -->

<% @title = "Change Password" %>

<h2 class = "centered">Change your password:</h2>

<%= form_for(@user, :method => :post, :url => {:controller => :users, :action => :change_password}) do |f| %>
	<table class = "signup_box" cellspacing = "5px">
		<tr>
	    	<td><%= f.label(:password, "New password", :class => "form_label") %></td>
	    	<td><%= f.password_field(:password, :class => "form_field login_field") %></td>
		</tr>
		<tr>
	    	<td><%= f.label(:password_confirmation, "Re-enter new password", :class => "form_label") %></td>
	    	<td><%= f.password_field(:password_confirmation, :class => "form_field login_field") %></td>
		</tr>
	</table>
	<div>&nbsp;</div>
	<div class = "centered"><%= f.submit("Submit", :class => "form_button signup_button") %></div>
<% end %>