<!-- Displays simple login form where user can enter login name -->

<% @title = "Log In" %>

<h2 class = "centered">Log in to your account:</h2>
<%= form_tag({:controller => "users", :action => "post_login"}) do %>
    <ul class = "login_box centered">
	    <li>
	    	<%= label_tag(:login, "Username", :class => "form_label") %>
	    	<%= text_field_tag(:login, nil, :class => "form_field login_field") %>
		</li>
		<li>
	    	<%= label_tag(:password, "Password", :class => "form_label") %>
	    	<%= password_field_tag(:password, nil, :class => "form_field login_field") %>
		</li>
	    <li><%= submit_tag("Log in", :class => "form_button login_button") %></li>
	   	<li><a href = "/users/new"/>Create an account</li>
	</ul>
<% end %>