<!-- Displays form for users to create a new account -->

<% @title = "Sign Up" %>

<%= form_for(@user, :url => {:controller => :users, :action => :create}, :http => {:class => "login_box"}) do |f| %>
    <h2>Create your account:</h2>
    <ul class = "form_items">
	    <li>
	    	<%= f.label(:first_name, "First name", :class => "form_label") %>
	    	<%= f.text_field(:first_name, :class => "form_field login_field") %>
		</li>
		<li>
	    	<%= f.label(:last_name, "Last name", :class => "form_label") %>
	    	<%= f.text_field(:last_name, :class => "form_field login_field") %>
		</li>
	    <li>
	    	<%= f.label(:login, "Username", :class => "form_label") %>
	    	<%= f.text_field(:login, :class => "form_field login_field") %>
		</li>
		<li>
	    	<%= f.label(:password, "Password", :class => "form_label") %>
	    	<%= f.password_field(:password, :class => "form_field login_field") %>
		</li>
		<li>
	    	<%= f.label(:password_confirmation, "Re-enter password", :class => "form_label") %>
	    	<%= f.password_field(:password_confirmation, :class => "form_field login_field") %>
		</li>
	    <li><%= f.submit("Sign Up", :class => "form_button login_button") %></li>
	</ul>
<% end %>